@{
    ViewBag.Title = "Blog Details";
}

@section CSS {
    <link rel="stylesheet" href="~/assets/scss/blog/blog-details.css">
}

@section NavBar {
    <ul class="navbar">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
        <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
        <li><a asp-controller="About" asp-action="Index">About</a></li>
    </ul>
}

<section id="blog-bg">
    <img src="~/assets/img/blog/Marvel's Spider-Man 2.jpg">
</section>

<section id="title">
    <div class="content">
        <span>Marvel's Spider-Man 2</span>

        <h1>Marvel's Spider-Man 2 Gameplay Revealed</h1>

        <div class="date-author-comments">
            <h4>May 24, 2023</h4>
            <h4>Test</h4>
            <h4>2 Comments</h4>
        </div>
    </div>
</section>

<section id="devide">
    <div class="container">
        <section id="panel">
            <div class="search">
                <h3 class="title">Search</h3>

                <div class="search-input">
                    <input type="text" placeholder="Enter a search term">

                    <i class="fa-solid fa-magnifying-glass circle"></i>
                </div>
            </div>

            <div class="latest-posts">
                <h3 class="title">Latest Posts</h3>

                <div class="posts">
                    <div class="post">
                        <a href="#" class="image">
                            <img src="~/assets/img/blog/Assassin's Creed Mirage.jpg">
                        </a>

                        <div class="content">
                            <a href="#" class="title">First Assassin’s Creed Mirage Gameplay Revealed, Launches October 12</a>

                            <div class="author-date">
                                <span>By Test</span>
                                <span>July 4, 2023</span>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <a href="#" class="image">
                            <img src="~/assets/img/blog/Assassin's Creed Mirage.jpg">
                        </a>

                        <div class="content">
                            <a href="#" class="title">First Assassin’s Creed Mirage Gameplay Revealed, Launches October 12</a>

                            <div class="author-date">
                                <span>By Test</span>
                                <span>July 4, 2023</span>
                            </div>
                        </div>
                    </div>

                    <div class="post">
                        <a href="#" class="image">
                            <img src="~/assets/img/blog/Assassin's Creed Mirage.jpg">
                        </a>

                        <div class="content">
                            <a href="#" class="title">First Assassin’s Creed Mirage Gameplay Revealed, Launches October 12</a>

                            <div class="author-date">
                                <span>By Test</span>
                                <span>July 4, 2023</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social">
                <h3 class="title">Follow us</h3>

                <div class="items">
                    <a href="#" class="item" style="background-color: blue;">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
        </section>

        <section id="blog-content">
            <div class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate laboriosam quidem labore ipsa? Magni fugit optio voluptatem doloremque esse! Vel exercitationem facilis hic culpa officia iste ipsum eligendi dolore numquam molestias. Eligendi, quisquam iusto dolor necessitatibus ab sapiente delectus libero nesciunt eum? Dolor consequuntur architecto nemo quaerat minima ea!
            </div>

            <div class="images">
                <img src="~/assets/img/blog/Marvel's Spider-Man 2 Screenshot 1.jpg">
                <img src="~/assets/img/blog/Marvel's Spider-Man 2 Screenshot 2.jpg">
                <img src="~/assets/img/blog/Marvel's Spider-Man 2 Screenshot 3.jpg">
                <img src="~/assets/img/blog/Marvel's Spider-Man 2 Screenshot 4.jpg">
                <img src="~/assets/img/blog/Marvel's Spider-Man 2 Screenshot 5.jpg">
            </div>

            <div class="comments">
                <h1 class="title">1 Thoughts on "Marvel's Spider-Man 2 Gameplay Revealed"</h1>

                <div class="items">
                    <div class="item">
                        <h4 class="username">Ali200119</h4>

                        <span class="date">June 7, 2023 at 15:03 PM</span>

                        <p class="description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum recusandae sunt dolorum maiores nesciunt minus sint, non laudantium ut aperiam? Consectetur laborum odio nobis dolore deserunt, quisquam veniam exercitationem magni?
                        </p>

                        <i class="fa-solid fa-trash-can"></i>
                    </div>

                    <div class="item">
                        <h4 class="username">Ali200119</h4>

                        <span class="date">June 7, 2023 at 15:03 PM</span>

                        <p class="description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum recusandae sunt dolorum maiores nesciunt minus sint, non laudantium ut aperiam? Consectetur laborum odio nobis dolore deserunt, quisquam veniam exercitationem magni?
                        </p>

                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>

                <form class="post-comment">
                    <h1 class="title">Leave a Comment</h1>

                    <textarea rows="10" placeholder="Your Comment"></textarea>

                    <button class="btn-shine">Post Comment</button>
                </form>
            </div>
        </section>
    </div>
</section>

<section id="up">
    <div class="arrow">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
</section>

@section Scripts {
    <script src="~/assets/js/components/scroll-to-up.js"></script>
    <script src="~/assets/js/blog-details.js"></script>
}