@use "../utilities/settings";
@use "../components/loading";
@use "../components/button";
@use "../layouts/header";

body {
    background-color: #201e2a;

    #fav-game {
        height: 650px;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.6;
        }

        .content {
            position: absolute;
            top: 20%;
            left: 10%;

            h1 {
                color: white;
                font-size: 47px;
            }

            p {
                color: white;
                margin-top: 40px;
                margin-bottom: 50px;
                width: 80%;
                font-size: 19px;
                line-height: 35px;
            }
        }
    }

    #blog {
        display: flex;
        justify-content: center;

        .container {
            width: 80%;

            .blog-items {
                position: relative;
                bottom: 100px;

                .slick-arrow {
                    position: absolute;
                    font-size: 40px;
                    color: #5a5865;
                    transition: 0.3s all;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }

                .prev {
                    top: 43%;
                    left: -45px;
                }

                .next {
                    top: 43%;
                    right: -45px;
                }

                .item {
                    height: 255px;
                    border-radius: 5px;
                    margin: 10px;
                    overflow: hidden;
                    background-color: black;
                    position: relative;
                    display: block;
                    text-decoration: none;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        transition: 0.3s all;
                    }

                    &:hover img {
                        transform: scale(1.05);
                        opacity: 0.7;
                    }

                    .content {
                        position: absolute;
                        top: 55%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        opacity: 0;
                        pointer-events: none;
                        transition: 0.3s all;


                        h3, h5 {
                            color: white;
                            text-align: center;
                        }

                        h3 {
                            line-height: 25px;
                            font-weight: unset;
                        }

                        h5 {
                            text-transform: uppercase;
                            margin-bottom: 20px;
                        }
                    }

                    &:hover .content {
                        opacity: 1;
                        top: 50%;
                        pointer-events: unset;
                    }
                }
            }
        }
    }
}