@use "../utilities/settings";
@use "../components/button";
@use "../layouts/header";
@use "../layouts/footer";
@use "../layouts/up";

body {
    background-color: #201e2a;

    main {
        display: flex;
        height: 735px;

        #image {
            width: 50%;
            overflow: hidden;
            // display: flex;
            // justify-content: center;
            // align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s all ease;
            }
        }
    }

    footer {
        margin: 0;
    }
}